*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    overflow: hidden;
    background-image: url(../Assets/backdrop.png);
    background-size: cover;
    background-position: fixed;
    min-height: 100vh;
}

.top-nav {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.top-nav a img{
    margin-top: 1rem;
}

.home-buttons{
    margin-right: 5%;
    display: flex;
}
.home-buttons a li{
    margin: 1rem 2rem;
    padding: 10px 1rem;
    font-size: 24px;
    color: white;
    background-color: rgba(21, 21, 21, 0.7);
    border-radius: 12px;
}

.home-buttons a li:hover{
    transform: scale(1.1);
}

.side-nav{
    position: fixed;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    font-size: 23px;
    background-color: rgba(21, 21, 21, 0.7);
}

.side-nav a li{
    margin: 1rem;
    color: white;
}

.side-nav a:hover {
    background-color: rgb(33, 152, 255);
}

.home-center{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-content{
    margin-top: 15%;
    width: fit-content;
    text-align: center;
    padding: 12px;
    margin-bottom: 5rem;
}

.main-content #head{
    font-size: 28px;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

#name{
    font-size: 26px;
}



@media screen and (max-width:525px) {
    .home-buttons a li{
        font-size: 1rem;
        margin: 0.5rem 1rem;
        padding: 5px 0.5rem;
        border-radius: 0%;
    }

    .home-buttons{
        flex-direction: column;
    }
}