@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.keybindingBody {
    /* background-color: rgba(0, 0, 0,0.9); */
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.container {
    color: #111111;
    display: block;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
}

.main {
    color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    box-shadow: -1px -1px 10px white;
    background-color: whitesmoke;
}


input {
    padding-left: 30px;
    border-radius: 20px !important;
    background: #111111 !important;
    color: white !important;
    text-transform: lowercase;
}

#head p {
    font-size: 20px;
    text-align: center;
}

label {
    font-size: 20px;
    padding: 15px;
}

ul li {
    color: red;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    label {
        font-size: 16px;
    }
}