*{
    overflow-x: hidden;
}

body{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    background-color: rgb(209, 209, 209);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);
}


nav{
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: white;
}


.main{
    height:100%;
    /* width:100%; */
    /* padding:100px; */
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.sub-div{
    border:3px solid rgb(0, 0, 0);
    width:250px;
    height:350px;
    margin:20px;
    background-color: whitesmoke;
    
}

/* .remove{
    position: absolute;
} */

.sub-name{
    width:100%;
    background-color:orange;
    padding:10px;
    text-align:center;
    margin-bottom:20px;
}
.time-div,.duration-div,.no-ques-div,.total-marks-div{
    padding:5px;
    margin: 10px;
}
.start-btn{
    background-color:rgb(17, 207, 191);
    border-radius:10px;
    padding:10px;
    width:fit-content;
    border:transparent;
    margin:25px
}


.instruction li{
    color: red;
    font-size: 21px;
    font-weight: 600;
    margin: 0.5rem ;
    margin-left: 2rem;
}

.blurr{
    filter: blur(3px);
}





/* folder */

 

.file{
    /* background-color: green; */
    /* width: fit-content; */
    display: flex;
}


 
 /* .file::before {
     content:"Test papers";
     position: absolute;
     width: 290px;;
     height: 320px;;
     background:#16A085;
     position: absolute;
     left:1%;
     top: 300px;
     border-radius: 6px;
     z-index: 5;
     box-shadow: 3px -3px 5px rgba(0,0,0,0.5);
 } */
 
 /* .file::after {
     content:"";
     position: absolute;
     width:120px;
     height:40px;
     background: #1E824C;
     position: absolute;
     top:280px;
     left:1%;
     z-index:-1;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
 } */

 /* Profile-card */

 #profile-pic{
    display: flex; 
    padding:20px; 
    justify-content: end;
    z-index:1
 }



 .profile{
    border-radius:100%;
    width:64px;
    height:60px;
    z-index: 1;
    right:0;
    display: flex;
    
    /* margin-left: 96%; */
    /* margin-left: -400px; */
}

.profile-card{
    /* display: none; */
    /* visibility: hidden; */
    left: -420px;
    height: fit-content;
    width: fit-content;
    width: 300px;
    border-radius: 16px;
    position: absolute;
    z-index: 1;
    background-color: rgb(116, 181, 207);
}

.first  span{
    padding: 0px 20px 20px 0px;
   margin-right :20px;
   transform: rotate(180deg);
}


.second{
    display: flex;

}
.second #pic{
    border-radius:100%;
    width:138px;
    height:128px;
    margin: auto;
}

.details{
    /* display: inline-block; */
    width: 100%;
}

.details h3{
    color: white; 
    padding-left:20px;
    display: flex;
    justify-content: center;
}

.details p{
    color: white;
    padding-left: 20px;
    font-size: 21px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.details button{
    border-radius: 30px !important;
    margin: auto;
    margin-bottom: 20px;
}

#logout{
    min-width: 100px;
    min-height: 40px;
}


@media screen and (max-width:500px) {
    .main{
        flex-direction: column;
        margin-left:0
    }
}