
  .element-animation{
    animation: animationFrames ease 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  }
  
  .element-animation-exit{
    animation: animationexit ease 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationexit ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  }


  
  @keyframes animationFrames{
    0% {
      opacity:0;
      transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      transform:  translate(30px,0px)  ;
    }
    80% {
      transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
  }

  @keyframes animationexit{
    0% {
      opacity:0;
      transform:  translate(0px,0px)  ;
    }
    60% {
      opacity:1;
      transform:  translate(-10px,0px)  ;
    }
    80% {
      transform:  translate(30px,0px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(-1500px,0px)  ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      opacity:0;
      -webkit-transform:  translate(-1500px,0px)  ;
    }
    60% {
      opacity:1;
      -webkit-transform:  translate(30px,0px)  ;
    }
    80% {
      -webkit-transform:  translate(-10px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }

}
  
@-webkit-keyframes animationexit {
    0% {
      opacity:0;
      -webkit-transform:  translate(0px,0px)  ;
    }
    60% {
      opacity:1;
      -webkit-transform:  translate(-10px,0px)  ;
    }
    80% {
      -webkit-transform:  translate(30px,0px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(1500px,0px)  ;
    }

}