* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-y: hidden;
  /* cursor: none; */
}



/* some Important CSS==================================> */
.f{
  height: 400px;
  width: 600px;
  margin: auto;
  border: 2px solid red;
  box-shadow: 1px -1px 8px 2px grey;
  border-radius: 10px;
  display: block;
}
.f p{
  font-size: 30px;
  text-align: center;
}

.done{
  display: flex;
  justify-content: center;
}

#option_area{
  width: 50%;
}

@media print {

  html,
  body {
      display: none;
  }
}



/* body CSS starts from here ===========================================>*/


body {
  height: 100%;
  background-color: #faaca8;
  background-image: linear-gradient(120deg, #faaca8 0%, #ddd6f3 100%);
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
}


body::backdrop {
  background-color: #faaca8;
  background-image: linear-gradient(120deg, #faaca8 0%, #ddd6f3 100%);
  /* background-color: rgba(255,255,255,0); */
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(209, 209, 209);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
}


a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  margin: 1rem;
  width: 98%;
  position: fixed;
  top: 0%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar ul{
  display: flex;
  align-items: center;
  margin: 0%;
}

.navbar ul li {
  list-style: none;
  margin: 0px 20px 0 20px;
  font-size: 1.2rem;
}


.main {
  display: flex;
  padding: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.question-box {
  border: 2px solid rgb(3, 167, 3);
  border-radius: 8px;
  height: 230px;
  margin: 4rem 1rem 1rem 1rem;
}

.question-box > p {
  margin-left: 50px;
}

.question-box ul li {
  display: inline-block;
}

.proctor-region {
  margin-top: 4%;
  height: 90%;
  background-color: #fed2aa;
  /* border: 2px solid red; */
  padding: 10px;
  margin-left: 50px;
  border-radius: 10px;
}

.video {
  height: 33%;
  width: 300px;
  border: 2px solid white;
  border-radius: 6px;
  background-color: blanchedalmond;
  

}

.number-f-question p {
  text-align: center;
  margin-top: 27%;
  font-size: 30px;
}

.number-of-question ul li {
  list-style: none;
  border: 1px solid black;
}

/* #menu-outer {
  height: 84px;
  background: url(images/bar-bg.jpg) repeat-x;
} */

#count_and_button{
  margin-top: 2rem;
  border: 2px solid black;
  border-radius: 8px;
  display:flex;
  justify-content:space-between;
  padding: 8px;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  /* min-width: 696px; */
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}

.no {
  border: 1px solid green;
  padding: 4px;
}



#option_and_key {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected_key {
  width: calc(50% - 30px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  margin: auto;
  padding: 5px;
  list-style: none;
}

#key_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#key_wrapper ul {
  padding-left: 0;
}

#key_wrapper li {
  margin: 12px 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2rem 1rem;
  list-style: none;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
}

#pre_nxt_btn {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 22px;
}
#pre_nxt_btn span {
  font-size: 1rem;
}



/* High-fi Structur setting----------- */

/* :not(:root):fullscreen::backdrop {
  position: fixed;
  inset: 0px;
  background-color: #faaca8 !important;
  background-image: linear-gradient(120deg, #faaca8 0%, #ddd6f3 100%) !important;
} */



/* Mark and Unmark classes==============>question mark for review */

.mark{
  background-color: rgb(255, 217, 29);
}