* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(https://forms.office.com/Images/Theme/meeting.png);
    background-size: cover;
}



.main {
    width: 100vw;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    left: 0%;
    padding: 1rem;
    margin-top: 2rem;
}

.main :nth-child(2) {
    align-self: center;
}

.heading {
    text-align: center;
    font-size: 40px;
}


.fields {
    display: flex;
    /* padding: 10px 30px 10px 30px; */
}

input {
    color: #b9b9bd !important;
    background: transparent;
    border-bottom: 5px solid black;
    outline: none !important;
    border-radius: 0% !important;
    border-width: 0 0 2px 0 !important;
    font-size: 30px;
}



form {
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    box-shadow: 1px -1px 20px white;
}

h2 {
    color: black;
    text-align: center;
}

label {
    font-size: 20px;
}


#examrecord{
    margin-left: -38%;
    width: 100%;
}

.button-sub {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



/* Table */

.custom-table {
    top: 0%;
    margin: 30px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
    background-color: white;

}

table tr th,
table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 5px;

}

table tr th:first-child,
table tr th:last-child {
    border-top: solid 1px #bbb;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid #bbb;

}

table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid #bbb;
}

table tr th {
    background: #eee;
    text-align: left;
}

table.Info tr th,
table.Info tr:first-child td {
    border-top: 1px solid #bbb;
}

/* top-left border-radius */
table tr:first-child th:first-child,
table.Info tr:first-child td:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child,
table.Info tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}






/* Back Button */

.button {
    position: fixed;
    top: 0%;
    right: 0%;
    /* display: flex; */
}

.bck {
    height: 80px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    align-self: center;
    display: flex;
    margin: auto;
}

.bck a {
    margin: auto;
}

.blurr{
    filter: blur(3px);
}






/* Profile-card */

    .profile{
        border-radius:100%;
        width:64px;
        height:60px;
        z-index: 1;
        /* margin-left: -400px; */
    }

    .profile-card{
        height: fit-content;
        min-width: fit-content;
        width: 300px;
        border-radius: 16px;
        position: absolute;
        z-index: 1;
        padding: 10px;
        background-color: rgb(36, 88, 184);
    }

    .first{
        margin-top: 5px;
    }

    .first  span{
        margin-top: 5px;
        padding: 20px 20px 0px 20px;
    }


    .second{
        display: flex;

    }
    .second #pic{
        border-radius:100%;
        width:138px;
        height:128px;
        margin: auto;
    }
    
    .details{
        /* display: inline-block; */
        width: 100%;
    }

    .details h3{
        color: white; 
        padding-left:20px;
        display: flex;
        justify-content: center;
    }

    .details p{
        color: white;
        padding-left: 20px;
        font-size: 21px;
        font-weight: 300;
        display: flex;
        justify-content: center;
    }

    .details button{
        border-radius: 30px !important;
        margin: auto;
        margin-bottom: 20px;
    }

    #logout{
        min-width: 100px;
        min-height: 40px;
    }


    @media screen and (max-width:768px) {
        .main {
            flex-direction: column;
            align-content: center;
        }

        #examrecord{
            margin-left: 0 !important;
            width: 100%;
        }
    }